In [41]:
import pandas as pd
import import_ipynb
import geo_zone

# PANDAS & VISUALISATION

In [3]:
df_pop = pd.read_csv("df_pop.csv")

In [4]:
df_veg = pd.read_csv("df_veg.csv")

In [5]:
df_anim = pd.read_csv("df_anim.csv")

### Nettoyer les titres de colonnes :
- Supprimer les espaces au début et à la fin des titres (s’il y en a)
- Remplacer les espaces par des underscores (ceux se situant entre les mots)
- Tout mettre en minuscule

In [6]:
df_pop.columns = df_pop.columns.str.strip().str.replace(' ', '_').str.lower()
df_pop.shape

(366, 14)

In [7]:
df_veg.columns = df_veg.columns.str.strip().str.replace(' ', '_').str.lower()
df_veg.shape

(93458, 14)

In [8]:
df_anim.columns = df_anim.columns.str.strip().str.replace(' ', '_').str.lower()

df_anim.shape

(31542, 14)

- Quelle sont les dimensions des jeux de données ?
- A quoi ressemblent les 5 premières lignes de mes jeux de données ?

In [9]:
df_pop.head(5)

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,37172.00,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,38041.75,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,2883.00,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 persons,2880.92,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 persons,42228.00,X,Figure from international organizations

In [10]:
df_anim.head(5)

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.73,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/capita/day,15.42,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/capita/day,16.03,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/capita/day,1.09,E,Estimated value

In [11]:
df_veg.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2018,2018,kg,160.12,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2511,Wheat and products,2019,2019,kg,158.95,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2018,2018,kcal/capita/day,1372.02,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2511,Wheat and products,2019,2019,kcal/capita/day,1361.66,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2511,Wheat and products,2018,2018,g/capita/day,37.00,E,Estimated value

- Pour les datasets df_anim et df_veg, ajoutez une colonne ‘type’ qui prendra respectivement une valeur ‘animal’ et ‘vegetal’.
- Regroupez les deux jeux de données en 1 et appelez ce DataFrame product.

In [12]:
df_anim = df_anim.assign(type='animal')

In [13]:
df_veg = df_veg.assign(type='vegetal')

In [14]:
product = pd.concat([df_anim, df_veg], ignore_index=True)
product.head()

,domain_code,domain,area_code_(m49),area,element_code,element,item_code_(cpc),item,year_code,year,unit,value,flag,flag_description,type
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.62,E,Estimated value,animal
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.73,E,Estimated value,animal
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/capita/day,15.42,E,Estimated value,animal
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/capita/day,16.03,E,Estimated value,animal
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/capita/day,1.09,E,Estimated value,animal

- Transformez df_pop afin de ne garder que le code du pays, le pays, l’année et la population
- Renommer la colonne ‘value’ en ‘pop_1000_hab’.

In [15]:
df_pop = df_pop.loc[:, ['area_code_(m49)', 'area', 'year', 'value']]

In [16]:
df_pop = df_pop.rename(columns={'value': 'pop_1000_hab'})
df_pop

     area_code_(m49)         area  year  pop_1000_hab
0                  4  Afghanistan  2018      37172.00
1                  4  Afghanistan  2019      38041.75
2                  8      Albania  2018       2883.00
3                  8      Albania  2019       2880.92
4                 12      Algeria  2018      42228.00
..               ...          ...   ...           ...
361              887        Yemen  2019      29161.92
362              894       Zambia  2018      17352.00
363              894       Zambia  2019      17861.03
364              716     Zimbabwe  2018      14438.80
365              716     Zimbabwe  2019      14645.47

[366 rows x 4 columns]

- Transformez products afin de ne garder que les colonnes **area_code_(fao)**, **area,** **element,** **item,**  **year,** **type,** **unit,** **value**

In [17]:
product = product.loc[:, ['area_code_(m49)', 'area', 'element', 'item', 'year', 'type', 'unit', 'value']]
product

,area_code_(m49),area,element,item,year,type,unit,value
0,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2018,animal,kg,2.62
1,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2019,animal,kg,2.73
2,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2018,animal,kcal/capita/day,15.42
3,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2019,animal,kcal/capita/day,16.03
4,4,Afghanistan,Protein supply quantity (g/capita/day),Bovine Meat,2018,animal,g/capita/day,1.09
...,...,...,...,...,...,...,...,...
124995,716,Zimbabwe,Food supply (kcal/capita/day),Miscellaneous,2019,vegetal,kcal/capita/day,2.94
124996,716,Zimbabwe,Protein supply quantity (g/capita/day),Miscellaneous,2018,vegetal,g/capita/day,0.04
124997,716,Zimbabwe,Protein supply quantity (g/capita/day),Miscellaneous,2019,vegetal,g/capita/day,0.09
124998,716,Zimbabwe,Fat supply quantity (g/capita/day),Miscellaneous,2018,vegetal,g/capita/day,0.01
124999,716,Zimbabwe,Fat supply quantity (g/capita/day),Miscellaneous,2019,vegetal,g/capita/day,0.04

- Fusionnez df_pop avec products et nommez ce DataFrame df.
- Renommer les colonnes comme sur la capture d’écran ci-dessous.(cf google doc)

In [18]:
df_pop = df_pop.rename(columns={'area_code_(m49)': 'area_code_(fao)'})
product = product.rename(columns={'area_code_(m49)': 'area_code_(fao)'})

In [19]:
df = pd.merge(df_pop, product, on=['area_code_(fao)', 'area', 'year',])
df

,area_code_(fao),area,year,pop_1000_hab,element,item,type,unit,value
0,4,Afghanistan,2018,37172.00,Food supply quantity (kg/capita/yr),Bovine Meat,animal,kg,2.62
1,4,Afghanistan,2018,37172.00,Food supply (kcal/capita/day),Bovine Meat,animal,kcal/capita/day,15.42
2,4,Afghanistan,2018,37172.00,Protein supply quantity (g/capita/day),Bovine Meat,animal,g/capita/day,1.09
3,4,Afghanistan,2018,37172.00,Fat supply quantity (g/capita/day),Bovine Meat,animal,g/capita/day,1.20
4,4,Afghanistan,2018,37172.00,Food supply quantity (kg/capita/yr),Mutton & Goat Meat,animal,kg,4.26
...,...,...,...,...,...,...,...,...,...
124995,716,Zimbabwe,2019,14645.47,Fat supply quantity (g/capita/day),Infant food,vegetal,g/capita/day,0.00
124996,716,Zimbabwe,2019,14645.47,Food supply quantity (kg/capita/yr),Miscellaneous,vegetal,kg,2.62
124997,716,Zimbabwe,2019,14645.47,Food supply (kcal/capita/day),Miscellaneous,vegetal,kcal/capita/day,2.94
124998,716,Zimbabwe,2019,14645.47,Protein supply quantity (g/capita/day),Miscellaneous,vegetal,g/capita/day,0.09
124999,716,Zimbabwe,2019,14645.47,Fat supply quantity (g/capita/day),Miscellaneous,vegetal,g/capita/day,0.04

In [20]:
df = df.loc[:, ['area_code_(fao)', 'area', 'item', 'year', 'type', 'element', 'pop_1000_hab', 'value']]
df

,area_code_(fao),area,item,year,type,element,pop_1000_hab,value
0,4,Afghanistan,Bovine Meat,2018,animal,Food supply quantity (kg/capita/yr),37172.00,2.62
1,4,Afghanistan,Bovine Meat,2018,animal,Food supply (kcal/capita/day),37172.00,15.42
2,4,Afghanistan,Bovine Meat,2018,animal,Protein supply quantity (g/capita/day),37172.00,1.09
3,4,Afghanistan,Bovine Meat,2018,animal,Fat supply quantity (g/capita/day),37172.00,1.20
4,4,Afghanistan,Mutton & Goat Meat,2018,animal,Food supply quantity (kg/capita/yr),37172.00,4.26
...,...,...,...,...,...,...,...,...
124995,716,Zimbabwe,Infant food,2019,vegetal,Fat supply quantity (g/capita/day),14645.47,0.00
124996,716,Zimbabwe,Miscellaneous,2019,vegetal,Food supply quantity (kg/capita/yr),14645.47,2.62
124997,716,Zimbabwe,Miscellaneous,2019,vegetal,Food supply (kcal/capita/day),14645.47,2.94
124998,716,Zimbabwe,Miscellaneous,2019,vegetal,Protein supply quantity (g/capita/day),14645.47,0.09
124999,716,Zimbabwe,Miscellaneous,2019,vegetal,Fat supply quantity (g/capita/day),14645.47,0.04

- Quelles sont les types de données de chaque colonne?

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125000 entries, 0 to 124999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   area_code_(fao)  125000 non-null  int64
 1   area             125000 non-null  object
 2   item             125000 non-null  object
 3   year             125000 non-null  int64
 4   type             125000 non-null  object
 5   element          125000 non-null  object
 6   pop_1000_hab     125000 non-null  float64
 7   value            125000 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 8.6+ MB

- Combien y-a t’il de valeurs manquantes par variable ?

In [22]:
valeur_manquant = df.isnull().sum()
valeur_manquant

area_code_(fao)    0
area               0
item               0
year               0
type               0
element            0
pop_1000_hab       0
value              0
dtype: int64

In [23]:
valeur_nan = df.isna().sum()
valeur_nan

area_code_(fao)    0
area               0
item               0
year               0
type               0
element            0
pop_1000_hab       0
value              0
dtype: int64

- Est-ce qu’il y a des valeurs aberrantes ?
-  Utilisez un récapitulatif statistique

In [24]:
df.describe().round(3)

       area_code_(fao)        year  pop_1000_hab       value
count       125000.000  125000.000    125000.000  125000.000
mean           425.301    2018.509     51431.253      11.001
std            250.726       0.500    187253.858      56.218
min              4.000    2018.000        10.760      -0.030
25%            204.000    2018.000      2801.000       0.000
50%            418.000    2019.000      9965.000       0.190
75%            642.000    2019.000     31825.290       2.800
max            894.000    2019.000   1465634.160    1779.760

- Affichez les valeurs uniques de la colonne area

In [25]:
print(df["area"].unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile'
 'China' 'China, Hong Kong SAR' 'China, Macao SAR' 'China, mainland'
 'China, Taiwan Province of' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Türkiye' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

- Modifiez votre jeu de données afin que les informations soient indexées par area_code, area, year, pop_1000_hab, type et item. 
- Les valeurs de la colonne element doivent être séparées dans des colonnes différentes.

In [26]:
df_v2 = pd.pivot_table(df, index=['area_code_(fao)', 'area', 'year', 'pop_1000_hab', 'type', 'item'], columns='element', values='value')
df_v2 = df.reset_index()

- Faire du nettoyage dans le nom des colonnes

In [27]:
df_v2.columns = df_v2.columns.str.strip().str.replace(' ', '_').str.lower()

In [28]:
df_v2

,index,area_code_(fao),area,item,year,type,element,pop_1000_hab,value
0,0,4,Afghanistan,Bovine Meat,2018,animal,Food supply quantity (kg/capita/yr),37172.00,2.62
1,1,4,Afghanistan,Bovine Meat,2018,animal,Food supply (kcal/capita/day),37172.00,15.42
2,2,4,Afghanistan,Bovine Meat,2018,animal,Protein supply quantity (g/capita/day),37172.00,1.09
3,3,4,Afghanistan,Bovine Meat,2018,animal,Fat supply quantity (g/capita/day),37172.00,1.20
4,4,4,Afghanistan,Mutton & Goat Meat,2018,animal,Food supply quantity (kg/capita/yr),37172.00,4.26
...,...,...,...,...,...,...,...,...,...
124995,124995,716,Zimbabwe,Infant food,2019,vegetal,Fat supply quantity (g/capita/day),14645.47,0.00
124996,124996,716,Zimbabwe,Miscellaneous,2019,vegetal,Food supply quantity (kg/capita/yr),14645.47,2.62
124997,124997,716,Zimbabwe,Miscellaneous,2019,vegetal,Food supply (kcal/capita/day),14645.47,2.94
124998,124998,716,Zimbabwe,Miscellaneous,2019,vegetal,Protein supply quantity (g/capita/day),14645.47,0.09
124999,124999,716,Zimbabwe,Miscellaneous,2019,vegetal,Fat supply quantity (g/capita/day),14645.47,0.04

- Faire du nettoyage dans le nom des colonnes

In [29]:
masque = (df_v2["year"] == 2018)
masque1 = (df_v2["year"] == 2019)

In [30]:
yr_2018 = df_v2[masque]
yr_2018

,index,area_code_(fao),area,item,year,type,element,pop_1000_hab,value
0,0,4,Afghanistan,Bovine Meat,2018,animal,Food supply quantity (kg/capita/yr),37172.0,2.62
1,1,4,Afghanistan,Bovine Meat,2018,animal,Food supply (kcal/capita/day),37172.0,15.42
2,2,4,Afghanistan,Bovine Meat,2018,animal,Protein supply quantity (g/capita/day),37172.0,1.09
3,3,4,Afghanistan,Bovine Meat,2018,animal,Fat supply quantity (g/capita/day),37172.0,1.20
4,4,4,Afghanistan,Mutton & Goat Meat,2018,animal,Food supply quantity (kg/capita/yr),37172.0,4.26
...,...,...,...,...,...,...,...,...,...
124635,124635,716,Zimbabwe,Infant food,2018,vegetal,Fat supply quantity (g/capita/day),14438.8,0.00
124636,124636,716,Zimbabwe,Miscellaneous,2018,vegetal,Food supply quantity (kg/capita/yr),14438.8,1.08
124637,124637,716,Zimbabwe,Miscellaneous,2018,vegetal,Food supply (kcal/capita/day),14438.8,1.21
124638,124638,716,Zimbabwe,Miscellaneous,2018,vegetal,Protein supply quantity (g/capita/day),14438.8,0.04
124639,124639,716,Zimbabwe,Miscellaneous,2018,vegetal,Fat supply quantity (g/capita/day),14438.8,0.01

In [31]:
yr_2019 = df_v2[masque1]
yr_2019

,index,area_code_(fao),area,item,year,type,element,pop_1000_hab,value
320,320,4,Afghanistan,Bovine Meat,2019,animal,Food supply quantity (kg/capita/yr),38041.75,2.73
321,321,4,Afghanistan,Bovine Meat,2019,animal,Food supply (kcal/capita/day),38041.75,16.03
322,322,4,Afghanistan,Bovine Meat,2019,animal,Protein supply quantity (g/capita/day),38041.75,1.13
323,323,4,Afghanistan,Bovine Meat,2019,animal,Fat supply quantity (g/capita/day),38041.75,1.24
324,324,4,Afghanistan,Mutton & Goat Meat,2019,animal,Food supply quantity (kg/capita/yr),38041.75,3.43
...,...,...,...,...,...,...,...,...,...
124995,124995,716,Zimbabwe,Infant food,2019,vegetal,Fat supply quantity (g/capita/day),14645.47,0.00
124996,124996,716,Zimbabwe,Miscellaneous,2019,vegetal,Food supply quantity (kg/capita/yr),14645.47,2.62
124997,124997,716,Zimbabwe,Miscellaneous,2019,vegetal,Food supply (kcal/capita/day),14645.47,2.94
124998,124998,716,Zimbabwe,Miscellaneous,2019,vegetal,Protein supply quantity (g/capita/day),14645.47,0.09
124999,124999,716,Zimbabwe,Miscellaneous,2019,vegetal,Fat supply quantity (g/capita/day),14645.47,0.04